.message-input {
  height: rem(48);
  @include flex-center;
  flex-shrink: 0;
  gap: rem(10);
  padding-inline: rem(6);
  border-radius: rem(24);
  background-color: var(--color-bg-primary);

  &__input {
    flex-grow: 1;
    padding: rem(12) rem(20);
    border: none;
    border-radius: rem(24);
    outline: none;
  }
}
