.main-page {
  height: 100vh;
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  padding-block: rem(16);
  padding-left: rem(16);
  overflow: hidden;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.empty-chat {
  @include flex-center;

  &__text {
    @include fluid-text(32, 16);
    color: var(--color-text-secondary);
    font-weight: 800;
    text-align: center;
  }
}
