/* 1. СБРОС СТИЛЕЙ ССЫЛКИ
   Убивает дефолтный синий цвет и подчеркивание браузера.
   Идеально подходит, когда нужно сделать всю карточку товара кликабельной, 
   и ты не хочешь, чтобы текст внутри нее внезапно стал синим.
*/
@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

/* 2. СБРОС СТИЛЕЙ КНОПКИ
   Уничтожает уродливые браузерные стили тега <button> (серый фон, рамки, отступы).
   Превращает кнопку в чистый холст. Обязательно юзай это перед тем, 
   как делать кастомный дизайн кнопки.
*/
@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}
