/* ==========================================================================
   ГЛАВНЫЕ НАСТРОЙКИ ПРОЕКТА (Голые числа)
   Менять только здесь при старте нового проекта из Figma.
   ========================================================================== */

/* БАЗОВЫЕ НАСТРОЙКИ */
$base-font-size: 16;

/* ТОЧКИ БРЕЙКПОИНТОВ */
$desktop: 1440;
$laptop: 1024;
$tablet: 768;
$mobile: 480;
$mobile-s: 320;

/* КОНТЕЙНЕР */
$container-width: 1240;
$container-padding-x: 15;
