@use "sass:math";
@use "./template.scss" as *;

/* 1. ПЛАВНАЯ (РЕЗИНОВАЯ) ТИПОГРАФИКА
   Удобная обертка над функцией fluid(), чтобы не писать font-size вручную.
   Делает так, чтобы шрифт сам плавно уменьшался/увеличивался в зависимости от ширины экрана.
   Применение: @include fluid-text(40, 24); 
*/
@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

/* ==========================================================================
   НАСТРОЙКИ МАКЕТА
   ========================================================================== */

/* ==========================================================================
   ФУНКЦИИ-ПОМОЩНИКИ (Вычисляют значения, но не выводят CSS-свойства сами)
   ========================================================================== */

/* 2. PX В REM (БЕЗОПАСНАЯ КОНВЕРТАЦИЯ)
   Переводит пиксели из макета в rem для правильной доступности 
   (чтобы размеры адаптировались, если юзер увеличит шрифт в браузере).
   Встроена "защита от дурака": если передать единицы измерения, выкинет ошибку.
   
   Применение: 
   width: rem(32); -> скомпилируется в width: 2rem;
*/
@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, $base-font-size) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа (например: 16, а не 16px).';
  }
}

/* 2.1. ИДЕАЛЬНАЯ РЕЗИНА С ПОДДЕРЖКОЙ ЛЮБЫХ ОСТАНОВОК (Математика масштабирования)
   Создает безупречное значение для clamp().
   В отличие от простого деления на 100vw, здесь высчитывается точный угол наклона (slope).
   Это значит, что элемент начнет расти СТРОГО от минимальной ширины мобилки ($mobile) 
   и перестанет расти ровно на ширине десктопа ($desktop).

   $v-max - Точка остановки роста (По умолчанию $desktop)
   $v-min - Точка остановки сжатия (По умолчанию $mobile)
   
   Применение: 
   font-size: fluid(48, 16); // Шрифт будет плавно расти от 16px до 48px
   padding: fluid(120, 40, $laptop); // Отступы растут от 40px до 120px, но остановятся на ноутбуке
   font-size: fluid(32, 18, $desktop, $tablet); // Работает только между планшетом и десктопом
*/
@function fluid($max, $min, $v-max: $desktop, $v-min: $mobile) {
  // Переводим входные пиксели и ширину макета в rem, используя базовую переменную
  $maxSize: math.div($max, $base-font-size);
  $minSize: math.div($min, $base-font-size);
  $maxWidth: math.div($v-max, $base-font-size);
  $minWidth: math.div($v-min, $base-font-size);

  // Высчитываем угол наклона и точку пересечения (уравнение прямой)
  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  // Собираем готовый clamp
  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}
